*{
    box-sizing: border-box;
}

body{
    font-family: 'Space Sono', monospace;
    background-color: #001d3e;
    color: #E8e8e8;
}

a{
    text-decoration: none;
    color: #E8e8e8;
}

li{
    list-style: none;
}

nav.nav-bar{
    border-bottom: 0.08rem solid #E8e8e8;
}

h1.brand-heading{
    text-align: center;
}

/* Form Section OPEN */

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8vw;
  margin-bottom: 2vw; 
}

input[type="text"]{
    width:82%;
    font-size: 1;
    height: 45px;
    margin: 0 auto;
    border-radius: 2%;
    border: 0px;
    padding: 0;
    padding-left: 3px;
}

button.btn-submit{
    width: 120px;
    height: 40px;
    border-radius: 5%;
    background-color: rgba(232, 232, 232, 0.893);
    margin: 20px auto;
    box-shadow: 3px 1px 1px 3px rgba(232, 232, 232, 0.1);
    font-size: 20px;
    font-weight: 500;
}

/* Form Section CLOSED */


/* ------------------------------------------------------- */
/* Card Section OPEN */




/* Card Sectiion CLOSED */

section#card-ul{
    display: flex;
    justify-content: center;
}

.coin-url:hover{
    color: rgb(215, 96, 96);
    font-size: 1.3em;
}

div.name-logo{
    text-align: center;
    letter-spacing: 1px;
}

div.card-container{
    margin: 0 auto;
    width: 80%;
    /* border: 1px solid #E8e8e8; */
    background-color: rgba(37, 73, 113, 0.92);
    box-shadow: 5px 4px rgba(245, 244, 244, 0.119);
    border-radius: 1%;
}

ul.card-ul{
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul.card-ul li{
    letter-spacing: 0.5px;
    padding: 1.5px 0;
}

span.li-name{
    color: #6278a2;
    font-weight: 600;
    font-size: 17px;
}
/*                           */
/* Table */

table{
    margin: 30px auto;
    text-align: center;
    border: 1px solid #E8e8e8;
    width: 80%;
}

td{
    padding: 3.2% 4.2%;
    font-size: 16px;
}


thead{
    background-color: rgba(61, 107, 141, 0.269);
    width: 100%;
}

td.ex-header, td.price-header{
    font-weight: 500;
    font-size: 22px;
    padding: 5% 5%;
}

tr.row-body:nth-child(even){
    background-color: rgba(232, 232, 232, 0.269);
}

.hidden{
    display: none;
}

/* ------------------------------------------------------- */
/* Footer Open */
.content {
    min-height: calc(100vh - 70px);
  }

footer{
    display: flex;
    justify-content: space-around;
    height: 40px;
    border-top: 0.5px solid #E8e8e8;
    padding-top: 1%;
}

.footer-span{
    font-size: 1em;
}
.fa-heart{
    color: red;
}

.fa-linkedin,.fa-github{
    font-size: 1.5rem;
}

/* Footer CLOSED */


/* Coin Description Section */

section#coin-desc-id{
    width: 90%;
    margin: 0 auto;
}


p.coin-description{
    line-height: 1.35;
    letter-spacing: 1.2px;
}



/*Desktop  */

@media only screen and (min-width:600px){
    p.coin-description{
        width: 60%;
        margin-left: 5%;
        line-height: 1.55;
        letter-spacing: 2px;
    }

    div.card-container{
        width: 40%;
        font-size: 1.2em;
    }

    td {
        padding: 1.5% 4.2%;
    }
    
    div#chart-container{
        width: 60vw;
    }

    td.ex-header, td.price-header{
        font-weight: 500;
        font-size: 22px;
        padding: 2% 2%;
    }

    footer{
        padding: 1%;
    }

    input[type="text"]{
        font-size: 22px;
    }
}
